POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=cinemadb
POSTGRES_PORT=5432

REDIS_PASSWORD=redis
REDIS_PORT=6379

WEBSERVER_PORT=8080
WEBAPP_PORT=5173
FRONTEND_ORIGIN=http://localhost:5173
JWT_SIGNING_KEY=CinemaTicketBooking.Dev.SigningKey.ChangeMe.1234567890

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
GRAFANA_PORT=3000

PROMETHEUS_PORT=9090
PROMETHEUS_RETENTION=7d

LOKI_PORT=3100

TEMPO_PORT=3200
TEMPO_OTLP_GRPC_PORT=4317

POSTGRES_EXPORTER_PORT=9187
REDIS_EXPORTER_PORT=9121
CADVISOR_PORT=8081
